body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  position: fixed;
  width: 100%;
  z-index: 3;
}
header img {
  float: inline-start;
  height: 69px;
  clear: both;
}
.UL {
  float: inline-end;
}
.UL li {
  display: inline;
  font-size: 30px;
  padding-right: 30px;
}
.UL li a {
  color: white;

  clear: right;
}
.UL li a:hover {
  color: powderblue;
}
body {
  background-color: black;
}
.top_backg {
  padding-top: 80px;
  position: relative;
}
#ig2 {
  border-bottom: 1px solid white;
  width: 93%;
  display: block;
  margin: 0 auto;
}
.insidetext {
  color: white;
  position: absolute;
  top: 43%;
  background-color: black;
  width: 100%;
  text-align: center;
}
.insidetext h2 {
  font-size: 48px;
  margin-bottom: 20px;
  padding: 0px;
  margin-top: 10px;
}
.insidetext p {
  font-size: 28px;
  margin-bottom: 10px;
}
.middle_text {
  width: 1000px;
  color: white;
  text-align: center;

  margin: 0 auto;
}
.middle_text h2 {
  margin-top: 110px;
  font-size: 48px;
  margin-bottom: 20px;
}
.middle_text p {
  font-size: 30px;
}
.box_set h3 {
  color: white;
  text-align: center;
  margin-top: 0;
  font-size: 30px;
}

#ig3 {
  width: 350px;
  height: 233px;
  margin: 10px 20px;
}
.box_inline1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.box_inline2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  position: relative;
  height: 500px;
  width: 100%;
}
.info_block {
  color: white;
  background-color: black;
  width: 300px;
  height: 250px;
  text-align: center;
  margin: 0 20px;
  z-index: 2;
  opacity: 0.8;
  padding-bottom: 20px;
}
.down_backg {
  width: 1500px;
  height: 1100px;
  z-index: -1;
  position: absolute;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container figcaption {
  font-size: 50px;
  top: 300px;
  color: aliceblue;
  position: relative;
  text-align: center;
  font-weight: bold;
}
.box_inline3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 350px;
}
.info_block h3 {
  font-size: 30px;
}
.info_block p {
  font-size: 22px;
  margin: 35px auto;
}
.contact_info {
  background-color: black;
  color: aliceblue;
  top: 400px;
  width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: 30px;
}
.contact_info h2 {
  font-size: 40px;
}
.contact_info h5 {
  font-size: 22px;
}
.contact_info p {
  text-align: left;
  margin-left: 20px;
  font-size: 18px;
}
